﻿<style>
   h1{
margin-top:100px;
   }
   #myTable{
       background-color:white;
} 
</style>

<div ng-controller="page2">


    <h1>Food Safety Records</h1>
    <br />
    <br />
    <hr />
    <table id="myTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>TOTAL</th>
                <th>D1</th>
                <th>LOCATION</th>
                <th>PP2</th>
                <th>OTHER</th>
                <th>CUSTOMER</th>
                <th>DOSING PUMP</th>
                <th>CONACT</th>
                <th>TELEPHONE</th>
                <th>CELL</th>
                <th>E_BAR</th>
                <th>COMENDA</th>
                <th>DIHR</th>
                <th>CLASSEQ</th>
                <th>HOBART</th>
                <th>COLGED</th>
                <th>ELECTROLUX</th>
                <th>ANGELOPO</th>
                <th>OMNIWASH</th>
                <th>LUXIA</th>
                <th>ZANUSSI</th>
                <th>OTHER</th>
                <th>LOCATION</th>
              
               
            </tr>
        </thead>

        <tbody ng-repeat="x in data">
            <tr>
                <td>{{x.TOTAL}}</td>
                <td>{{x.D1}}</td>
                <td>{{x.PP2}}</td>
                <td>{{x.OTHER}}</td>
                <td>{{x.CUSTOMER}}</td>
                <td>{{x.DOSINGPUMP}}</td>
                <td>{{x.CONACT}}</td>
                <td>{{x.TELEPHONE}}</td>
                <td>{{x.CELL}}</td>
                <td>{{x.RENTALS}}</td>
                <td>{{x.E_BAR}}</td>
                <td>{{x.COMENDA}}</td>
                <td>{{x.DIHR}}</td>
                <td>{{x.CLASSEQ}}</td>
                <td>{{x.HOBART}}</td>
                <td>{{x.COLGED}}</td>
                <td>{{x.ELECTROLUX}}</td>
                <td>{{x.ANGELOPO}}</td>
                <td>{{x.OMNIWASH}}</td>
                <td>{{x.LUXIA}}</td>
                <td>{{x.ZANUSSI}}</td>
                <td>{{x.OTHER_}}</td>
                <td>{{x.LOCATION}}</td>
                <th><button ng-click="openEditForm(x)" class="btn btn-primary btn-round">Edit</button></th>
            </tr>
        </tbody>
    </table>
</div>
