﻿<style>
    .myForm {
        border: 2px solid #a1a1a1;
        padding: 10px 40px;
        background: #dddddd;
        width: 1000px;
        border-radius: 25px;
        margin:auto;
       margin-top: 100px;
       margin-bottom: 100px;
       margin-right: 150px;
       margin-left: 80px;
    }
    .input {
border: 2px solid #a1a1a1;
border-radius: 25px;
    }

</style>

<div class="container rounded ">
    <Form class="border-top-0">
        <h3><b>Food Safety Form</b></h3>
        <hr />
        <br />
        <br />
        <div class="form-group  ">
            <label for="example-text-input" class="control-labelcol-1 col-xs-12">TOTAL</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.TOTAL" class="input form-control" type="number" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group  ">
            <label for="example-text-input" class="col-1 col-xs-12">D1</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.D1" class="input form-control" type="number" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group  ">
            <label for="example-text-input" class="col-1 col-xs-12">PP2</label>
            <div class="col-sm-5 ">
                <input ng-model="data.PP2" class="input form-control" type="number" id="example-text-input">
            </div>
        </div>
        <div class="form-group  ">
            <label for="example-text-input" class="col-1 col-xs-12">OTHER</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.OTHER" class="input form-control" type="number" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">CUSTOMER</label>
            <div class="col-sm-5 col-xs-12 ">
                <input  ng-model="data.CUSTOMER" class="input form-control" type="text" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">DOSINGPUMP</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.DOSINGPUMP" class="input form-control" type="text" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">CONTACT</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.CONTACT" class="input form-control" type="text" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">TELEPHONE</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.TELEPHONE" class="input form-control" type="text" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">CELL</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.CELL" class="input form-control" type="text" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">RENTALS</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.RENTALS" class="input form-control" type="number"  id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">E_BAR</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.E_BAR" class="input form-control" type="number" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">COMENDA</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.COMENDA" class="input form-control" type="number" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">DIHR</label>
            <div class="col-sm-5 col-xs-12 ">
                <input  ng-model="data.DIHR" class="input form-control" type="number" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">CLASSEQ</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.CLASSEQ" class="input form-control" type="number" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">HOBART</label>
            <div class="col-sm-5 col-xs-12 ">
                <input  ng-model="data.HOBART" class="input form-control" type="number" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">COLGED</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.COLGED" size="100" class="input form-control" type="number" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">ELECTROLUX</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.ELECTROLUX" class="input form-control" type="number" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">ANGELOPO</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.ANGELOPO" class="input form-control" type="number" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">OMNIWASH</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.OMNIWASH" class="input form-control" type="number" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">LUXIA</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.LUXIA" class="input form-control" type="number" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">ZANUSSI</label>
            <div class="col-sm-5 col-xs-12 ">
                <input  ng-model="data.ZANUSSI" class="input form-control" type="number" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">OTHER</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.OTHER_" class="input form-control" type="number" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">BARCODE</label>
            <div class="col-sm-5 col-xs-12 ">
                <input ng-model="data.BARCODE" class="input form-control" type="text" value="Artisanal kale" id="example-text-input">
            </div>
        </div>
        <div class="form-group row ">
            <label for="example-text-input" class="col-1 col-xs-12">LOCATION</label>
            <div class="col-sm-5 col-xs-12 ">
                <select ng-model="data.LOCATION" class="form-control input">
                    <option value="">Select location</option>
                    <option value="MEYERTON/ALBERTON/MOTS">MEYERTON/ALBERTON/MOTS</option>
                    <option value="CENTRALJHB">CENTRAL JHB</option>
                    <option value="HOUGHTON/LINKSFIELD/KILLARNEY/NOORWOOD">HOUGHTON/LINKSFIELD/ KILLARNEY/NOORWOOD</option>
                    <option value="HYDEPARK">HYDE PARK</option>
                    <option value="RIVONIA/SUNNINGHILL">RIVONIA/SUNNINGHILL</option>
                    <option value="ATHOL SQ SANDTON ">ATHOL SQ SANDTON </option>
                    <option value="ILLOVO">ILLOVO </option>
                    <option value="MANDELA SQUARE">MANDELA SQUARE</option>
                    <option value="WOODMEAD/MODDERFONTEIN">WOODMEAD/MODDERFONTEIN</option>
                    <option value="MIDRAND/WATERFALL">MIDRAND/WATERFALL</option>
                    <option value="MORNINGSIDE">MORNINGSIDE</option>
                    <option value="BRYANSTON/RANDBURG">BRYANSTON/RANDBURG</option>
                    <option value="DOUGLASDALE">DOUGLASDALE</option>
                    <option value="CRESTA">CRESTA</option>
                    <option value="CLEARWATER/ROODEPOORT/KRUGERSDORP">CLEARWATER/ROODEPOORT/KRUGERSDORP</option>
                    <option value="SOWETO/GOLDREEF">SOWETO/GOLDREEF</option>
                    <option value="HARDEBEESPOORT/ RANDFONTIEN">HARDEBEESPOORT/ RANDFONTIEN</option>
                    <option value="NORTHRIDING/RANDPARK RIDGE">NORTHRIDING/RANDPARK RIDGE</option>
                    <option value="EASTRAND/SPRINGS">EASTRAND/SPRINGS</option>
                    <option value="BEDFORDVIEW/ EASTGATE">BEDFORDVIEW/ EASTGATE</option>
                    <option value="GREENSIDE/ZOO LAKE/ PARKTOWN">GREENSIDE/ZOO LAKE/ PARKTOWN</option>
                    <option value="ROSEBANK">ROSEBANK</option>
                    <option value="MELROSE ARCH">MELROSE ARCH</option>
                    <option value="MELVILLE">MELVILLE</option>
                    <option value="FOURWAYS">FOURWAYS</option>
                    <option value="BROADACRES/CEDAR SQUARE">BROADACRES/CEDAR SQUARE</option>
                    <option value="MONTE CASINO">MONTE CASINO</option>
                    <option value="AIRPORT AND SURROUNDS">AIRPORT AND SURROUNDS/option>
                    <option value="PRETORIA NORTH WEST">PRETORIA NORTH WEST</option>
                    <option value="PRETORIA NORTH EAST">PRETORIA NORTH EAST</option>
                    <option value="PRETORIA SOUTH">PRETORIA SOUTH</option>
                    <option value="FAR WEST">FAR WEST</option>
                    <option value="LIMPOPO/NORTH/NORTH EAST">LIMPOPO/NORTH/NORTH EAST</option>
                    <option value="SOUTHERN AFRICA (OUTSIDE RSA)">SOUTHERN AFRICA (OUTSIDE RSA)</option>
                    <option value="FAR WEST">FAR WEST</option>
                </select>
            </div>
        </div>

        <button ng-show="showAdd" ng-click="addRecord()" class="btn btn-primary btn-round btn-lg">Submit</button>
        <button ng-show="showEdit" ng-click="addRecord()" class="btn btn-primary btn-round btn-lg">Update</button>
    </Form>
</div>