﻿<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>food Safety Management </title>
    <!-- Bootstrap -->
    <link href="~/SAP/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/SAP/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/SAP/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/SAP/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <link href="~/RoutingScripts/toastr/toastr.min.css" rel="stylesheet" />
    <!-- bootstrap-progressbar -->
    <link href="~/SAP/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/SAP/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- bootstrap-daterangepicker -->
    <link href="~/SAP/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/SAP/build/css/custom.min.css" rel="stylesheet">
  
</head>
<body class="nav-md" id="mainBody">

    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        @*<a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Food Safety</span></a>*@
                    </div>
                    <div class="clearfix"></div>
                    <!-- menu profile quick info -->
                    <div class="profile clearfix">
                       
                       
                        <div class="profile_pic">
                            <img src="~/images/Food-Safety.PNG" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <h2>Food Safety Management</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->
                    <br />
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                           @* <h3>General</h3>*@
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-home"></i> Forms <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">

                                        @*<li><a href="#/">DataManagement</a></li>*@

                                        <li><a href="#/page2">DataManagement</a></li>
                                    </ul>
                                </li>
                                @*<li>
                                    <a><i class="fa fa-edit"></i> Forms <span class="fa fa-chevron-down"></span></a>

                                </li>*@

                            </ul>
                        </div>

                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                       
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->

            <div class="right_col" role="main">
                @RenderBody()

            </div>

            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    <!-- jQuery -->
    <script src="~/SAP/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/SAP/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/SAP/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/SAP/vendors/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/SAP/vendors/Chart.js/dist/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="~/SAP/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/SAP/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/SAP/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/SAP/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/SAP/vendors/Flot/jquery.flot.js"></script>
    <script src="~/SAP/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/SAP/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/SAP/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/SAP/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/SAP/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/SAP/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/SAP/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/SAP/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/SAP/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/SAP/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/SAP/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/SAP/vendors/moment/min/moment.min.js"></script>
    <script src="~/SAP/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->

    <script src="~/SAP/build/js/custom.min.js"></script>
    <script src="~/RoutingScripts/angular.min.js"></script>
    <script src="~/RoutingScripts/angular-route.js"></script>
    <script src="~/RoutingScripts/App.js"></script>
    <script src="~/RoutingScripts/DataService.js"></script>
    <script src="~/RoutingScripts/BlockUI.js"></script>
    <script src="~/RoutingScripts/jquery.toaster.js"></script>
    <script src="~/RoutingScripts/toastr/toastr.min.js"></script>
</body>
</html>
